@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #eeeeeee0;
}

.title {
    margin-bottom: 3%;
}

.image_logo{
    margin-bottom: 3%;
    margin-top: 5%;

}

.echo_sucess {
    color: green;
    top: 100%;
    text-align: center;
    position: relative;  
}

.button{
    border-radius: 10px;
    /* margin-left: 50%; */
    margin-top: 1.2%;
    margin-bottom: 3%;
    border-color: #4A65B8;
    color: #1a3790;
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.3s;
}

.button:hover {
    background-color: #4A65B8; /* Change la couleur de fond lorsque la souris est sur le bouton */
    transform: scale(1.1);
    color: #fdfdfd;
}

.button_create{
    border-radius: 10px;
    /* margin-left: 50%; */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-color: #4A65B8;
    color: #1a3790;
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.3s;
    margin-top: 2%;
    margin-bottom: 3.5%;
}

.button_create:hover {
    background-color: #4A65B8; /* Change la couleur de fond lorsque la souris est sur le bouton */
    transform: scale(1.1);
    color: #fdfdfd;
}

.label_create{
    margin-top: 3.5%;
}


.file{
    margin-top: 1.9%;
    margin-bottom: 2%;
}

.barre{
    border: 2px solid #4A65B8;
    width: 65%;
    margin: auto;
}

.echo_connecter{
    color: black;
    position: relative;
    top: 49.5%;
}

.echo_connecter_false{
    color: red;
    position: relative;
    top: 49.5%;
}

.obligatoire{
    color: red;
}


input#file-upload-button{
    border-radius: 20px!important;
}

/* INDEX */
                    .bouton_index{
                        padding: 10px 20px;
                        font-size: 16px;
                        transition: transform 0.3s;
                        margin-bottom: 7.5%;
                        margin-top: 3%;
                        border-radius: 3%;
                    }

                    .bouton_index2{
                        padding: 10px 20px;
                        font-size: 16px;
                        transition: transform 0.3s;
                        margin-bottom: 7.5%;
                        margin-top: 9%;
                        border-radius: 3%;
                    }

                    .bouton_index:hover{
                        transform: scale(1.1);
                    }

                    /* .bouton_index2:hover{
                        transform: scale(1.1);
                    } */

                    .rectanglebox {
                        width: 300px; /* Largeur de la div */
                        height: auto; /* Hauteur de la div */
                        background-color: #eeeeeee0; /* Couleur de fond grise */
                        position: absolute; /* Position absolue pour centrer la div */
                        top: 48%; /* Position verticale centrée */
                        left: 50%; /* Position horizontale centrée */
                        transform: translate(-50%, -50%); /* Centrage de la div */
                        border-radius: 3%;
                        border: 2px solid black;
                    }

                    .rectanglebox_create {
                        width: 300px; /* Largeur de la div */
                        height: auto; /* Hauteur de la div */
                        background-color: #eeeeeee0; /* Couleur de fond grise */
                        position: absolute; /* Position absolue pour centrer la div */
                        top: 48%; /* Position verticale centrée */
                        left: 50%; /* Position horizontale centrée */
                        transform: translate(-50%, -50%); /* Centrage de la div */
                        border-radius: 3%;
                        border: 2px solid black;
                        margin-top: 4%;
                    }

                    .text_index {
                        margin-top: 3%;
                        color: #fcfcfc;
                    }
                    
                    .button_index{
                        border-radius: 10px;
                        /* margin-left: 50%; */
                        margin-top: 1.2%;
                        margin-bottom: 9%;
                        border-color: #4A65B8;
                        color: #1a3790;
                        background-color: white;
                        padding: 10px 20px;
                        font-size: 16px;
                        transition: transform 0.3s;
                    }

                    .button_index:hover {
                        background-color: #4A65B8; /* Change la couleur de fond lorsque la souris est sur le bouton */
                        transform: scale(1.1);
                        color: #fdfdfd;
                    }

                    .mdpfaux {
                        color: rgb(208, 68, 68);
                        position: fixed;
                        top: 80%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #eee;
                        padding: 20px;
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                    }

                    .bouton_main{
                        padding: 10px 20px;
                        font-size: 16px;
                        transition: transform 0.3s;
                        margin-bottom: 0.5%;
                        margin-top: 0.5%;
                        border-radius: 3%;
                    }

                    /* .bouton_main:hover{
                        transform: scale(1.1);
                    } */

/* Barre navigtion */

header {
    background-color: #333;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }



  a {
    color: #fff;
    text-decoration: none;
  }

  .imgnav {
    height: 30px;
    width: 30px;
    display: block;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #2c2b2b;
  }
  
  .active {
    background-color: #000000;
  }

.h1_contact {
    margin-top: 10%;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
    }

.h1_reseaux {
    margin-top: 6%;
}

.img_reseaux {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: space-around; 
}

.container_reseaux {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
  }